/* applies to all icons */
i:hover{
    transform:scale(1.5);
    cursor: pointer;
}
/* header  */
body{
    margin:0;
    padding:0;
}
.header{
    text-align: center;
    padding:2px;
    top:0;
    position: sticky;
}
.shadow{
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

/* Shopping Cart */
.container, #shipping-address{
    /* border:1px solid #000; */
    margin:auto;
    width:700px;
    height:fit-content;
}

.product-header{
    display:flex;
    border-bottom: 4px solid gray;
    justify-content: flex-start;
}
.product{
    display:flex;
    border-bottom: 1px solid gray;
    justify-content: flex-start;
    align-items: center;
}
.finalAmt{
    display:flex;
    justify-content: space-around;
    /* border:1px solid black; */
    align-items: center;
    width:100px;
    float:right;
}
.product-title{
    width:50%;
    display:flex;
    align-items: center;
}
.product-title img{
    width:100px;
    height:100px;
    margin-right:5px;
}
.price{
    width:15%;
}
.quantity{
    width:20%;
    display: flex;
    align-items: center;
}
.quantity i{
    cursor: pointer;
}

.total{
    width:15%;
}

.rs{
    font-size:15px;
    font-weight: bold;
}

.proceed{
    text-align: center;
    margin:1em;
}

.proceed button{
    /* border:1px solid black; */
    padding:10px;
    border-radius:5px;
    background-color: cyan;
    border:none;
}

/* Shipping Address */
#shipping-address h2{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.addresses{
    display:flex;
    flex-wrap: wrap;
}
.address{
    width:200px;
    margin:0em 1em;
}
.deliver{
    border:1px solid cyan;
    background-color: white;
    width:100%;
    padding:15px;
    margin:1em 0em;
    border-radius: 5px;
}
.deliver:hover{
    background-color: cyan;
    cursor: grab;
}
.icons{
    display:flex;
    justify-content: space-between;
}
.selected{
    background-color: cyan;
    border:1px solid white;
}
/* add shipping address  */